@font-face {
    font-family: "MuseoSans Regular";
    src: url("https://www.technodom.kz/under/tab_showcase/fonts/MuseoSansCyrl-Regular.woff2");
}

@font-face {
    font-family: "MuseoSans Bold";
    src: url("https://www.technodom.kz/under/tab_showcase/fonts/MuseoSansCyrl-Bold.woff2");
}
