@font-face {
  font-family: "Museo";
  src: url("../assets/fonts/MuseoSansCyrl-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Museo";
  src: url("../assets/fonts/MuseoSansCyrl-Bold.woff2");
  font-weight: 700;
}
