.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background: rgba(14, 68, 71, 0.201377);
    backdrop-filter: blur(81.5485px);
    overflow-y: auto;
    z-index: 2;
    &--hidden {
        display: none;
    }
    &__content {
        position: relative;
        max-width: 460px;
        background-color: $white;
    }
    &__info {
        padding: 30px;
    }
    &__image {
        display: block;
        width: 460px;
        height: 400px;
        object-fit: cover;
    }
    &__title {
        margin-bottom: 10px;
        color: $dark;
        font-size: 1.5rem;
        line-height: 29px;
    }
    &__description {
        color: $textDark;
        font-size: 1.125rem;
    }
    &__text-container {
        margin-top: 16px;
    }
    &__text {
        color: $textDark;
    }
    &__buttons {
        display: flex;
        gap: 40px;
        margin-top: 36px;
    }
    &__btn {
        padding: 8px 60px;
        border: none;
        border-radius: 16px;
        font-size: 0.875rem;
        cursor: pointer;
        &--accept {
            background-color: $lightGreen;
            color: $blue;
        }
        &--reject {
            background-color: $blue;
            color: $white;
        }
    }
    &__close-btn {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 0;
        right: -30px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}
